[Desktop Entry]
Name = Messenger
Comment = Open Messenger
Exec = chromium --app=https://messenger.com
Icon = fbmessenger
Terminal = false
Type = Application
Categories = InstantMessaging;Network;
