[Desktop Entry]
Name = WhatSapp
Comment = Open WhatSapp
Exec = chromium --app=https://web.whatsapp.com
Icon = whatsapp
Terminal = false
Type = Application
Categories = InstantMessaging;Network;
